#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

/4Bank_APP/nbproject/
/4Bank_APP/4Bank_APP-war/nbproject/
/4Bank_APP/4Bank_APP-ejb/nbproject/
/4Bank_APP/build.xml
/VazquezMoreno/nbproject/private/
/VazquezMoreno/VazquezMoreno-war/nbproject/private/
/VazquezMoreno/VazquezMoreno-ejb/nbproject/private/
*.jsp~
/twitter/nbproject/private/
/twitter/twitter-war/nbproject/private/
/twitter/twitter-ejb/nbproject/private/